h1{
    text-align: center;
    font-size: 50px;
}
h1{
    text-align: center;
}
p {
    text-align:center;
    font-size: 20px;
}
.foto {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.titulo {
  background-color: hsl(300, 98%, 57%); 
  color: #000000;        
  padding: 10px 20px;       
  display: block;    
  text-align: center;
}
aside a {
  display: block; 
  text-align: center;
  margin: 0 auto;
}
.titulo-pasatiempo1 {
  background-color: rgb(244, 37, 244);
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}
.titulo-pasatiempo2 {
  background-color: rgb(244, 37, 244);
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}
.titulo-pasatiempo3 {
  background-color: rgb(244, 37, 244);
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}
.titulo-pasatiempo4 {
  background-color: rgb(244, 37, 244);
  color: rgb(0, 0, 0);
  padding: 15px;
  text-align: center;
}